.whatsapp {
  display: inline-block;
  width: 5vw;
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 3;
  background-color: #314c15;
  border-radius: 50%;
  aspect-ratio: 1/1;

  a {}

  img {
    width: 100%;
    transform: scale(1.2);
  }
}

.whatsapp img:hover {
  transform: scale(1.25);
}

.principal {
  display: flex;
  z-index: 2;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: hsl(89, 41%, 12%);
  margin: 0 auto;

  .header {
    display: flex;
    padding: 0;
    width: 95%;
    min-height: 35vh;
    flex-direction: column;
    justify-content: flex-start;

    &__perfil {
      display: flex;
      flex-direction: row;
      padding: 2px 0;
      justify-content: space-between;
      border-left: 2px solid #FF7700;
      border-right: 2px solid #FF7700;
      border-bottom: 2px solid #FF7700;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: -4px 3px 15px #101709;

      &__logo {
        padding: 4px;
        text-align: center;
        color: #FF7700;
        height: fit-content;
        width: 10%;

      }

      &__redes_sociais {
        display: flex;
        align-items: center;
        justify-content: start;
        flex-direction: column;
        width: 10%;

        &__logos {
          margin: 10px;
          width: 33%;
        }

      }

      &__infos {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 33%;
        padding: 6px;

        img {

          margin: 0 auto;
          width: 60%;
        }

        &__nomes {
          color: aliceblue;
          margin: 0;
          text-align: center;

          h2 {
            white-space: nowrap;
            font-size: 1.75rem;
            margin: 5px;
          }

          p {
            font-size: 1rem;
            color: rgba(240, 248, 255, 0.818);
            margin: 0;
          }
        }
      }
    }

    &__opcoes {
      color: #f0f8ff;
      min-width: 45%;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
    }
  }

  .fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10px 0;
    margin: 0 auto;
    background-color: hsl(89, 41%, 12%);
    border-radius: 1rem;

    &__box {
      box-shadow: 0px 0px 15px #101709;
      display: flex;
      width: 95%;
      max-height: fit-content;
      flex-direction: row;
      align-items: center;
      border-radius: 1rem;
      background-color: #FF7700;

      &__container_icone {
        width: 8%;
        display: flex;
        justify-content: flex-start;
        margin: 10px;
        border-radius: 1rem;
        background-color: #101709;
        border-radius: 50%;

        img {
          width: 100%;
          transform: scale(1.01);

        }
      }

      &__media {
        color: #f0f8ff;
        width: 95%;
        display: flex;
        flex-direction: row;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        background-color: #1f2b12;
        box-shadow: inset 0px 0px 15px #101709;
        margin: 10px 0;

        &__infos {
          h3 {
            font-size: 1rem;
          }

          h4 {
            font-size: 1.5rem;
          }
        }

        &__feed {
          display: flex;
          justify-content: center;
          width: 100%;
        }

      }

    }
  }
}