@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@200&family=Roboto:ital,wght@1,300&display=swap');

.principal {
  display: flex;
  z-index: 2;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: hsl(89, 41%, 12%);
  margin: 0 auto;

  .header {
    display: flex;
    max-height: fit-content;
    width: clamp(75vw, 85vw, 100vw);
    background-color: #16200b;
    border-left: 2px solid #FF7700;
    border-right: 2px solid #FF7700;
    border-bottom: 2px solid #FF7700;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    box-shadow: inset -4px 3px 15px #101709;

    &__logo {
      align-items: center;
      padding: 4px;
      text-align: center;
      height: fit-content;
      padding: 2rem;
      width: 15%;

      img {
        width: 100%;
      }

    }


    &__perfil {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      &__foto {
        display: flex;
        justify-content: center;
        width: 33%;

        img {

          padding: 1rem;
          box-sizing: border-box;
          aspect-ratio: 1.618;
          width: 100%;
          background-size: cover;
        }
      }

      &__nomes {
        color: aliceblue;
        padding: 0.5rem;
        text-align: center;

        h2 {
          font-family: 'Josefin Sans', sans-serif;
          white-space: nowrap;
          font-size: 2.5rem;
          margin: 0.5rem 0;
        }

        p {
          font-size: 1.25rem;
          color: rgba(240, 248, 255, 0.818);
          margin: 0;
        }
      }
    }

    &__redes_sociais {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: end;
      padding: 2rem;

      &__link {
        width: 66%;
        min-width: 35px;

        img {

          transition: 0.15s ease-in-out all;
          margin: auto;
          width: 100%;
          box-shadow: 0px 0px 0.3rem hsl(208, 5%, 10%);
        }

        img:hover {
          transform: scale(1.025) rotate(2deg);
          transition: 0.3s ease-in-out all;

        }

        img:active {
          transform: scale(0.975) rotate(-3deg);
          transition: 0.1s ease-in-out all;

        }
      }


    }
  }

  .opcoes {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: #f0f8ff;
    min-width: 45%;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: aliceblue;
    }

    a:first-child {
      color: #FF7700;
    }
  }

  .fundo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: clamp(50vw, 70vw, 100vw);
    padding: 10px 0;
    margin: 0 auto;
    background-color: #16200b;
    border-radius: 1rem;

    &__box {
      box-shadow: 0px 0px 15px #101709;
      display: flex;
      width: clamp(50%, 90%, 100%);
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      border-radius: 1rem;
      background-color: aliceblue;

      &__container_icone {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 8%;
        margin: 1rem;
        background-color: #FF7700;
        border-radius: 50%;

        img {
          width: 100%;
          transform: scale(1.05);

        }
      }

      &__media {
        color: #f0f8ff;
        width: 100%;
        display: flex;
        flex-direction: row;
        border-radius: 1rem;

        &__feed {
          display: flex;
          justify-content: center;
          width: 100%;
        }

      }

    }
  }
}