  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=Montserrat:wght@200&family=Roboto:ital,wght@1,300&display=swap');

  .modal_container {
    position: fixed;
    display: table;
    height: 100vh;
    width: 100vw;
    top: 0;
    margin: 0;
    left: 0;
    transform: scale(1);
    z-index: 1;
    color: #f0f8ff;

    &__background {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, .8);
      width: 100vw;

      &__post {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 60%;
        background-color: #1f2b12;
        border-radius: 1rem;


        &__img {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 70%;
          height: 100%;
          background-color: #101709;
          border-radius: 1rem;

          img {
            background-clip: border-box;
            background-size: auto;
            aspect-ratio: 1.1/1;
            width: 100%;
            height: fit-content;
            border-radius: inherit;
          }

        }
        &__infos {
          width:max-content;
          padding: 0 0.5rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }
    }
  }

  .principal {
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    background-color: hsl(89, 41%, 12%);
    margin: 0 auto;

    .header {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      min-height: 20vh;
      width: 85%;

      border-left: 3px solid #FF7700;
      border-right: 3px solid #FF7700;
      border-bottom: 3px solid #FF7700;
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      box-shadow: -4px 3px 15px #101709;


      &__logo {
        align-items: center;
        padding: 4px;
        text-align: center;
        height: fit-content;
        padding: 2rem;
        width: 15%;

        img {
          width: 100%;
        }

      }


      &__perfil {
        display: flex;
        justify-content: center;
        flex-direction: column;

        &__foto {
          display: flex;
          justify-content: center;

          img {

            padding: 1rem;
            box-sizing: border-box;
            aspect-ratio: 1.618;
            margin: 0 auto;
            max-width: 100%;
            background-size: cover;
          }
        }

        &__nomes {
          color: aliceblue;
          padding: 0.5rem;
          text-align: center;

          h2 {
            font-family: 'Josefin Sans', sans-serif;
            white-space: nowrap;
            font-size: 2.25rem;
            margin: 0.5rem 0;
          }

          p {
            font-size: 1rem;
            color: rgba(240, 248, 255, 0.818);
            margin: 0;
          }
        }
      }

      &__redes_sociais {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: end;
        padding: 2rem;

        &__link {
          width: 15%;
          min-width: 35px;

          img {

            transition: 0.15s ease-in-out all;
            margin: auto;
            width: 100%;
          }

          img:hover {
            transform: scale(1.07) rotate(7deg);
            transition: 0.3s ease-in-out all;
            box-shadow: 0px 0px 0.3rem hsl(208, 5%, 10%);

          }
        }


      }
    }

    .opcoes {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      color: #f0f8ff;
      min-width: 45%;
      margin: 0 auto;
    }

    .fundo {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 75%;
      padding: 10px 0;
      margin: 0 auto;
      background-color: hsl(89, 41%, 12%);
      border-radius: 1rem;

      &__box {
        box-shadow: 0px 0px 15px #101709;
        display: flex;
        width: 95%;
        max-height: fit-content;
        flex-direction: row;
        align-items: center;
        border-radius: 1rem;
        background-color: #FF7700;

        &__container_icone {
          width: 8%;
          display: flex;
          justify-content: flex-start;
          margin: 10px;
          border-radius: 1rem;
          background-color: #101709;
          border-radius: 50%;

          img {
            width: 100%;
            transform: scale(1.01);

          }
        }

        &__media {
          color: #f0f8ff;
          width: 95%;
          display: flex;
          flex-direction: row;
          border-top-left-radius: 15px;
          border-bottom-left-radius: 15px;
          background-color: #1f2b12;
          box-shadow: inset 0px 0px 15px #101709;
          margin: 10px 0;

          &__infos {
            h3 {
              font-size: 1rem;
            }

            h4 {
              font-size: 1.5rem;
            }
          }

          &__feed {
            display: flex;
            justify-content: center;
            width: 100%;
          }

        }

      }
    }
  }