body {
  margin: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}
/* Importando fonte Montserrat ExtraLight 200 Italic do Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200&display=swap");
